﻿<%@ Page Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="changepass.aspx.vb" Inherits="changepass" %>


<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <br />







    
    <table>
        <tr><td>
    Old Password</td><td><asp:TextBox ID="idold" runat="server" TextMode="Password"  Width="130px" ></asp:TextBox></td>
</tr><tr><td>
    New Password</td><td><asp:TextBox ID="idnew" runat="server" TextMode="Password"  Width="130px" ></asp:TextBox></td>
</tr><tr><td>
    Confirm New Password</td><td><asp:TextBox ID="idconfirm" runat="server" TextMode="Password"  Width="130px" ></asp:TextBox></td>
</tr><tr><td colspan="2"></td></tr>
        
        <tr><td colspan="2">
    <asp:Button ID="btnsimpan" runat="server" Text="Save" />
&nbsp;&nbsp;&nbsp;&nbsp;
    <asp:Button ID="btnCancel" runat="server" Text="Cancel" />

         </td>
</tr>

        <tr><td colspan="2"></td></tr>
        <font color="red">
        <asp:Label ID="lblerror" runat="server" Text=""></asp:Label></font>
        <tr>

    </table>
    


</asp:Content>


