﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="frmBrowseFile.aspx.vb" Inherits="frmBrowseFile" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Internal Control Effectiveness</title>

    <link rel="icon" href="image/Logoplikasi_Layer 2.png">

</head>

<script type="text/javascript">
function fncClose()
{
window.close(); 
}
function fncGetFile()
{ 
    window.opener.document.getElementById('txtBuktiObyektif').value = document.getElementById('TextPassing').value;
                    window.close(); 
}  
</script>


<body>

<form id="Form1" enctype="multipart/form-data" method="post" runat="server">
  
  Upload you file here 
  <br><br>
  <INPUT id="readFile" type="file" runat="server"/>
  <br><br>
  <INPUT id="cmdUploadFile" type="button" value="Upload File" runat="server">
  <input id="Button2" type="button" value="Cancel" onclick="fncClose()" />
  <br>
  <hr align="left" Size="1" width="300">
  <asp:Label ID="lblShowMessage" Runat="server" Font-Bold="True" ForeColor="Firebrick" Font-Size="10pt" />
  
  <asp:TextBox ID="TextPassing" runat="server" Width=1px></asp:TextBox>
  <asp:TextBox ID="TextAction" runat="server" Width=1px></asp:TextBox>

  
</form>

</body>
</html>
