﻿<%@ Page Title="" Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="ICERecapBranchPeriode.aspx.vb" Inherits="ICERecapBranchPeriode" %>



<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <br />



    <asp:Label ID="lblHead" runat="server" Text="ICE-Recap By Branch Periode (Internal Control Effectiveness Recapitulation By Branch Periode)"
        style="font-size: 20px;"
        ></asp:Label>
    <br />
    <div style="font-size: 20px;">
        <b>
            <Table>
                <tr>
                    <td><asp:Label ID="Lblbranch" runat="server">Cabang </asp:Label>&nbsp;&nbsp;</td>
                    <td><asp:Dropdownlist id="doBranch" runat="server" width="250px"></asp:Dropdownlist></td>
                    <td rowspan="3"  style="vertical-align:top;"> &nbsp;&nbsp;&nbsp; <asp:Button ID="btnFind" CssClass="button2" runat="server" Text="Generate" /></td>
                    
<%--                    <td rowspan="3"> &nbsp;&nbsp;&nbsp; <asp:Button ID="btnCheckHist" CssClass="button2" runat="server" Text="Check History Un-Confirm" />

                        <asp:Dropdownlist id="doHist" runat="server" width="150px"></asp:Dropdownlist>

                    </td>--%>

                    <td rowspan="3"> &nbsp;&nbsp;&nbsp; <asp:label ID="infoerror1" runat="server" Font-Bold="true"  ></asp:label>   </td>
                </tr>
                <tr>
                    <td><asp:Label ID="lblTemplate" runat="server">CheckList </asp:Label>&nbsp;&nbsp;</td>
                    <td><asp:Dropdownlist id="doTemplate" runat="server" width="400px"></asp:Dropdownlist></td>
                </tr>
                <tr>
                    <td style="vertical-align:top;"><asp:Label ID="lblPeriode" runat="server">Periode </asp:Label>&nbsp;&nbsp;</td>

                    <td>
                        
                        <asp:listbox runat="server" id="doPeriode" selectionmode="Multiple" width="400px"
                            height="300px"
                            ></asp:listbox>

                        <!--<asp:Dropdownlist id="doPeriodexx" runat="server" width="400px"></asp:Dropdownlist>-->


                    </td>

                </tr>
    
                </Table>
            </b>

    </div>


    

<div style="margin:30px;">

    <!--<button type='button' class='button2xx' data-book-id='||||A|A' data-target='#formModalNew' data-toggle='modal'>Add New</button>
    -->
    
  
    <asp:PlaceHolder ID="myPlaceH" runat="server"></asp:PlaceHolder>

</div>

  
    <asp:Label ID="infoerror" runat="server" style="color: red" ></asp:Label>


    <!--
            <script type="text/javascript">
        $(document).ready(function () {
            $(<%=doPeriode.ClientID%>).SumoSelect();
        });
    </script>
    -->

</asp:Content>


