﻿<%@ Page Async="true" Title="" Language="VB" MasterPageFile="~/MasterPage.master" AutoEventWireup="false" CodeFile="updatemaster.aspx.vb" Inherits="updatemaster" %>


<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">

        <br />
    "Proses update master ...."
    <br />
    <asp:Label ID="info01" style="color:red" runat="server"></asp:Label><br />
    <asp:Label ID="info02" style="color:red" runat="server"></asp:Label><br />
    <asp:Label ID="info03" style="color:red" runat="server"></asp:Label><br />
    <asp:Label ID="info04" style="color:red" runat="server"></asp:Label><br />
    <asp:Label ID="info05" style="color:red" runat="server"></asp:Label><br />
    <asp:Label ID="info06" style="color:red" runat="server"></asp:Label><br />
    <asp:Label ID="info07" style="color:red" runat="server"></asp:Label><br />
    <asp:Label ID="info08" style="color:red" runat="server"></asp:Label><br />
    <asp:Label ID="info09" style="color:red" runat="server"></asp:Label><br />
    <asp:Label ID="info10" style="color:red" runat="server"></asp:Label><br />
</asp:Content>

